bar-top {
  background: #222;
  color: #fff;
  height: 4rem;
  display: flex;

  align-items: center;

  .folder,
  .file {
    display: flex;
    align-items: center;
    padding: 0 1rem;

    img {
      padding-right: .5rem;
    }
  }
}