.bottombar {
  background: #eee;
  border-top: 1px solid #ccc;
  font-family: roboto;
  font-size: .9rem;
  height: 2.5rem;
  line-height: 2.5rem;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
  border-bottom-right-radius: .5rem;

  ul {
    list-style: none;
    display: flex;
    margin: 0 -1rem;

    li {
      padding: 0 1rem;
      padding-left: calc(18px + 1rem);
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: .5rem center;
      color: #333;
      cursor: default;

      &.timestamp {
        background-image: url('../../images/remixicon/time-line.svg');
      }

      &.filesize {
        background-image: url('../../images/remixicon/file-info-line.svg');
      }

      &.revisions_count {
        background-image: url('../../images/remixicon/stack-line.svg');
      }
    }
  }
}