@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/Inconsolata-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../../fonts/Inconsolata-Bold.ttf')  format('truetype');
  font-weight: bold;
}

* {
  padding: 0;
  margin: 0;
  font-family: roboto;
}

#output {
  flex: 1;
  padding: 2rem;
}

/*.target {
  display: none;
}
.set {
  display: block !important;
}*/