.CodeMirror {
  height: calc(100% - 4rem);
  height: 100%;

  * {
    font-family: Inconsolata;
  }

  .CodeMirror-lines {
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: calc(800px - 4rem);
  }

  .CodeMirror-vscrollbar {
    outline: none;
  }

  pre {
    padding-left: 2rem;
    padding-right: 2rem;
    line-height: 1.5;
  }

  .cm-header {
    color: #000;
  }

  .cm-header-1 {
    font-size: 2rem;
  }

  .cm-header-2 {
    font-size: 1.5rem;
  }

  .cm-header-3 {
    font-size: 1.17rem;
  }

  .cm-header-4 {
    font-size: 1rem;
  }

  .cm-header-5 {
    font-size: .83rem;
  }

  .cm-header-6 {
    font-size: .67rem;
  }

  .cm-quote {
    color: #999;
  }

  .cm-link {
    color: #0366d6;
  }

  .cm-string {
    color: #d60903;
  }
}