#login {
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;

    .text {
      flex: 1;

      font-family: Inconsolata;
      font-size: 2.5rem;
    }
  }

  form {
    width: 300px;
    label {
      display: block;
      margin-bottom: .5rem;
      font-weight: bold;
    }

    input[type="text"],
    input[type="password"] {
      margin-bottom: 1.5rem;
      width: 100%;
      box-sizing: border-box;
      border: 1px solid #ccc;
      border-radius: .25rem;
      padding: 1rem 1rem;
      outline: none;
      font-size: 1rem;
    }

    input[type="submit"] {
      display: block;
      float: right;
      background: #333;
      color: #fff;
      border: none;
      padding: .5rem 1rem;
      border-radius: .25rem;
      font-size: 1rem;

      &:hover {
        background :#111;
      }
    }
  }
}