widget-create-file,
widget-create-folder {
  padding: 0 1rem;
  padding-bottom: 1rem;
  display: none;

  &.active {
    display: flex;
  }

  input[type="text"] {
    border-radius: .25rem;
    font-size: 1rem;
    border: none;
    padding: .5rem 1rem;
    flex: 1;
    outline: none;
    width: 100%;
  }

  input[type="button"] {
    font-size: 1rem;
    padding: .5rem 1rem;
    border-radius: .25rem;
    border: none;
    background: #ccc;
    margin-left: .5rem;
    outline: none;

    &:hover {
      background: #ddd;
    }
  }
}