aside {
  background: #eee;
  width: 300px;
  border-right: 1px solid #ccc;
  //overflow-y: auto;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

  .filebar {
    background: #ddd;
    display: flex;
    justify-content: flex-end;
    min-height: 2.5rem;
    border-bottom: 1px solid #ccc;
    padding: 0 .5rem;
    user-select: none;

    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        padding: 0 .5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: .2rem;

        &:hover {
          background: #eee;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

#upload {
  display: none;
}