aside {
  display: flex;
  background: #eee;
  width: 300px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  flex-direction: column;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

  .filebar {
    background: #ddd;
    display: flex;
    justify-content: flex-end;
    height: 2.5rem;
    border-bottom: 1px solid #ccc;
    padding: 0 .5rem;
    user-select: none;

    ul {
      display: flex;
      list-style: none;
      align-items: center;

      li {
        padding: 0 .5rem;
        height: 2rem;
        display: flex;
        align-items: center;
        position: relative;
        border-radius: .2rem;

        /*&.add-file img {
          height: 21px;
        }*/

        &:hover {
          background: #eee;
        }

        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  /*.add-file {
    &:after {
      content: '+';
      position: absolute;
      height: 18px;
      width: 100%;
      left: 0;
      text-align: center;
      line-height: 1;
      margin-top: 3px;
      font-weight: bold;
      font-family: roboto;
      font-size: 16px;
    }
  }*/

  /*.add-folder {
    &:after {
      content: '+';
      color: #fff;
      position: absolute;
      height: 18px;
      width: 100%;
      left: 0;
      text-align: center;
      line-height: 1;
      margin-top: 2px;
      font-weight: bold;
      font-family: roboto;
      font-size: 16px;
    }
  }*/

  &.scrollbar::-webkit-scrollbar-thumb {
    border-color: #eee;
  }
}

#upload {
  display: none;
}