html,
body {
  height: 100%;
}

body {
  background: #eee;
  background: #243c61;
  display: flex;
  overflow: hidden;
  padding: 2rem;
  box-sizing: border-box;
}

main {
  display: flex;
  background: #fff;
  flex: 1;
  flex-direction: column;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;

  .split {
    flex: 1;

    .editor,
    .presentation {
      flex: 1;
    }

    .editor {
      border-right: 1px solid #ccc;
    }
  }
}

[data-pending] .pending {
  height: 1rem;
  width: 1rem;
  background: #ffc107;
  top: 5.5rem;
  right: 1rem;
  right: 3rem;
  position: fixed;
  border-radius: 100vh;
}

[data-background-color="false"] {
  padding: 0;

  aside,
  aside .filebar,
  .topbar,
  .bottombar {
    border-radius: 0;
  }
}