@-webkit-keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(359deg);
  }
}

stair-case {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;
  overflow-y: auto;

  &.scrollbar::-webkit-scrollbar-thumb {
    border-color: #eee;
  }

  ul {
      margin-left: 1rem;
      list-style: none;

      li {
          cursor: default;
          user-select: none;
          font-size: .9rem;
          margin-top: -.2rem;
          margin-bottom: -.2rem;
          color: #222;

          &[data-sc-active] {
              > .sc-current {
                  > .sc-name,
                  > .sc-name:hover {
                      background: hsl(212, 97%, 43%);
                      color: #fff;
                  }
              }
          }

          .sc-current {
              align-items: center;
              display: flex;
          }

          > [data-sc-children] {
              display: none;
          }

          &[data-sc-state="open"] {
              > [data-sc-children] {
                  display: block;
              }
          }

          .sc-name,
          .sc-icon {
              border-radius: .2rem;
          }

          .sc-icon {
              padding: 0 .2rem;
              background-size: 18px;
              background-position: center;
              background-repeat: no-repeat;
              min-width: 24px;
              height: 24px;
          }

          .sc-name {
              height: 24px;
              line-height: 24px;
              padding-left: .2rem;
              margin-top: .2rem;
              margin-bottom: .2rem;
              padding-right: .2rem;

              &:hover {
                  background-color: #ddd;
              }
          }

          &[data-sc-type="folder"] {
              > .sc-current > .sc-icon {
                  background-image: url('../../images/remixicon/18/folder-fill.svg');

                  &:hover {
                      background-color: #ddd;
                  }
              }

              &[data-sc-state="open"] > .sc-current > .sc-icon {
                  background-image: url('../../images/remixicon/18/folder-open.svg');
              }

              &.sc-loading > .sc-current > .sc-icon {
                  background-image: url('../../images/remixicon/18/refresh-line.svg');
                  animation: rotation 2s infinite linear;

                  &:hover {
                      background-color: transparent;
                  }
              }
          }
          &[data-sc-type="file"] {
            .sc-icon {
              background-image: url('../../images/remixicon/18/file-text.svg');
            }
            &[data-sc-name$=".gif"],
            &[data-sc-name$=".jpg"],
            &[data-sc-name$=".jpeg"],
            &[data-sc-name$=".png"],
            &[data-sc-name$=".svg"],
            &[data-sc-name$=".webp"] {
              .sc-icon {
                background-image: url('../../images/remixicon/18/image-line.svg');
              }
            }
          }
      }
  }

  > ul {
      margin-left: 0;
  }
}