.state {
  display: none;
}

[data-state="welcome"] {
  .welcome {
    display: flex;
  }
}

[data-state="markdown"] {
  .split {
    display: flex;
  }

  .topbar {
    display: flex;
  }

  .bottombar {
    display: flex;

    .count {
      display: block;
    }
    .timestamp {
      display: block;
    }
  }
}

[data-state="image"] {
  .image {
    display: flex;
  }

  .topbar {
    display: flex;
  }

  .bottombar {
    display: flex;

    .dimensions {
      display: block;
    }
    .filesize {
      display: block;
    }
  }
}

[data-state="browser"] {
  .topbar {
    display: flex;
  }
  
  .browser {
    display: block;
  }
}