.welcome {
  flex: 1;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-family: roboto;
    margin-bottom: .5rem;
  }

  p {
    font-family: roboto;
  }
}