widget-create {
  input[type="text"] {
    margin-bottom: .25rem;
  }

  .group {
    display: flex;
    justify-content: space-between;

    input[type="submit"] {
      flex: 1;

      &:first-child {
        margin-right: .125rem;
      }

      &:last-child {
        margin-left: .125rem;
      }
    }
  }
}