#logout {
  display: flex;
  background: #eee;
  height: 100%;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  p {
    display: block;
    margin-bottom: .5rem;
  }

  a {
    display: block;
    color: #000;
  }
}